.navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.726);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: rgb(233, 14, 14);
    background-color: black;
    text-align: center;
    padding: 34px 36px;
    text-decoration: none;
}

.dropdown5 {
    float: left;
    overflow: hidden;
}

.dropdown5 .dropbtn5 {
    cursor: cell;
    font-size: 20px;    
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 34px 36px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown5:hover .dropbtn5, .dropbtn5:focus {
    background-color: black;
    color:red;
}

.dropdown5-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown5-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown5-content a:hover {
    background-color: #000000;
}

.show {
    display: block;
}



body {
    background-color: #969494;
    background-image: url(https://78.media.tumblr.com/88f9d95ff0b22372de6027f6b08a675e/tumblr_ooy3rafrUa1viblyvo1_500.png);
    background-size: cover;
  }





  .dropbtn {
    width: 200px;
    height: 80px;
    opacity: 1.0;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 16px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(26, 25, 25);
    border-width: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(255, 0, 0);
    border-width: 10px;
    opacity: 0.7;
  }

  .dropbtn2 {
    width: 200px;
    height: 80px;
    opacity: 1.0;
    background-color: rgb(72, 255, 0);
    color: white;
    padding: 16px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(26, 25, 25);
    border-width: 5px;
  }

  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  
  
  .dropdown2:hover .dropbtn2 {
    background-color: rgb(72, 255, 0);
    border-width: 10px;
    opacity: 0.7;
  }

  .dropbtn3 {
    width: 200px;
    height: 80px;
    opacity: 1.0;
    background-color: rgb(87, 2, 245);
    color: white;
    padding: 16px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(26, 25, 25);
    border-width: 5px;
  }

  .dropdown3 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown3:hover .dropbtn3 {
    background-color: rgb(87, 2, 245);
    border-width: 10px;
    opacity: 0.7;
  }

  
  .dropbtn4 {
    width: 200px;
    height: 80px;
    opacity: 1.0;
    background-color: rgb(245, 2, 152);
    color: white;
    padding: 16px;
    font-size: 20px;
    border-style: solid;
    border-color: rgb(26, 25, 25);
    border-width: 5px;
  }

  .dropdown4 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown4:hover .dropbtn4 {
    background-color: rgb(245, 2, 152);
    border-width: 10px;
    opacity: 0.7;
  }


  h1{
font-family: monospace;
font-size:35px;
color:white;
text-shadow: 0 0 0.2em rgb(255, 6, 6), 0 0 0.2em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0)
  }



  /*# sourceMappingURL=mywebsite.css.map */